<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('业务汇报')" />
</head>
<body class="gray-bg">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="report-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                汇报类型：<select name="reportType" th:with="type=${@dict.getType('biz_report_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                标题：<input type="text" name="title"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.modal.open('提交汇报', 'portal/report/add')" shiro:hasPermission="portal:report:add">
                    <i class="fa fa-plus"></i> 提交汇报
                </a>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var types = [[${@dict.getType('biz_report_type')}]];
        var prefix = ctx + "portal/report";

        $(function() {
            var options = {
                url: prefix + "/list",
                viewUrl: prefix + "/view/{id}",
                modalName: "汇报",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '编号'
                },
                {
                    field: 'reportType',
                    title: '类型',
                    align: 'center',
                    formatter: function(value) { return $.table.selectDictLabel(types, value); }
                },
                {
                    field: 'title',
                    title: '标题',
                    formatter: function(value, row) {
                        return '<a href="javascript:void(0)" onclick="$.operate.view(\'' + row.id + '\')">' + value + '</a>';
                    }
                },
                {
                    field: 'reportDate',
                    title: '汇报日期'
                },
                {
                    field: 'createTime',
                    title: '提交时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row) {
                        return '<a class="btn btn-info btn-xs" href="javascript:void(0)" onclick="$.operate.view(\'' + row.id + '\')"><i class="fa fa-eye"></i>查看</a> ' +
                               '<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="removeReport(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>';
                    }
                }]
            };
            $.table.init(options);
        });

        function removeReport(id) {
            $.modal.confirm('确认删除该汇报？', function() {
                $.post(ctx + "portal/report/remove", { id: id }, function(result) {
                    if (result.code == web_status.SUCCESS) {
                        $.modal.msgSuccess("删除成功");
                        $.table.refresh();
                    } else {
                        $.modal.alertError(result.msg);
                    }
                });
            });
        }
    </script>
</body>
</html>
