<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('假期余额列表')" />
</head>
<body class="gray-bg">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="quota-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                员工姓名：<input type="text" name="empName"/>
                            </li>
                            <li>
                                假期类型：<select name="leaveType" th:with="type=${@dict.getType('biz_leave_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                年份：<input type="text" name="year" placeholder="如 2026"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="biz:quota:add">
                    <i class="fa fa-plus"></i> 新增
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="biz:quota:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="biz:quota:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="biz:quota:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('biz:quota:edit')}]];
        var removeFlag = [[${@permission.hasPermi('biz:quota:remove')}]];
        var types = [[${@dict.getType('biz_leave_type')}]];
        var prefix = ctx + "biz/quota";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "假期余额",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '编号'
                },
                {
                    field: 'empName',
                    title: '员工姓名'
                },
                {
                    field: 'leaveType',
                    title: '假期类型',
                    align: 'center',
                    formatter: function(value) { return $.table.selectDictLabel(types, value); }
                },
                {
                    field: 'year',
                    title: '年份',
                    align: 'center'
                },
                {
                    field: 'quotaDays',
                    title: '配额天数',
                    align: 'center'
                },
                {
                    field: 'usedDays',
                    title: '已用天数',
                    align: 'center'
                },
                {
                    title: '剩余天数',
                    align: 'center',
                    formatter: function(value, row) {
                        var remain = (row.quotaDays || 0) - (row.usedDays || 0);
                        var cls = remain <= 0 ? 'label label-danger' : (remain < 2 ? 'label label-warning' : 'label label-success');
                        return '<span class="' + cls + '">' + remain + '</span>';
                    }
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>
